<span *ngIf="!authService.isAuth">
  <form class="d-flex" [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">

    <div class="form-group me-2">
      <input type="text" class="form-control" id="username" name="username"
             formControlName="username" placeholder="Nom d'utilisateur"/>
    </div>
    <div class="form-group me-2">
      <input type="password" class="form-control ng-valid" id="password"
             formControlName="password" placeholder="Mot de passe" name="password"/>
    </div>
    <div><button type="submit" [disabled]="loginForm.invalid" class="btn btn-secondary me-2">Connexion</button></div>
    <div><a class="btn btn-dark me-2" routerLink="inscriptionParent">Inscription</a></div>
  </form>
  <div *ngIf="!username.dirty && !password.dirty" id="flash" class="erreur">{{erreur}}</div>
</span>

<a *ngIf="authService.isAuth" class="nav-link active" aria-current="page" (click)="signOut()">
  <strong>Déconnexion</strong>
</a>
