<span *ngIf="!authService.isAuth">
  <form class="d-flex" [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <input type="text" class="form-control me-2" id="username"
             formControlName="username" placeholder="Nom d'utilisateur"/>
      <ul *ngIf="username.dirty && username.invalid" class="erreur">
        <li *ngIf="username.hasError('required')">Champ requis</li>
        <li *ngIf="username.hasError('pattern')">
          Le nom d'utilisateur doit contenir seulement des caracters alphanumeriques
        </li>
      </ul>
    </div>
    <div class="form-group">
      <input type="text" class="form-control me-2 ng-valid" id="password" formControlName="password" placeholder="Mot de passe"/>
      <ul *ngIf="password.dirty && password.invalid" class="erreur">
        <li *ngIf="password.hasError('required')">Champ requis</li>
        <li *ngIf="password.hasError('minlength')">
          Le mot de passe doit avoir au moins 5 caracteres
        </li>
        <li *ngIf="password.hasError('pattern')">
          Le mot de passe doit contenir au moins un caractere non-alphanumerique</li>
      </ul>
    </div>
    <div><button type="submit" [disabled]="loginForm.invalid" class="btn btn-dark me-2">Connexion</button></div>
  </form>
  <div *ngIf="!username.dirty && !password.dirty" id="flash" class="erreur">{{erreur}}</div>
</span>

<a *ngIf="authService.isAuth" class="nav-link active" aria-current="page" (click)="signOut()">
  <strong>Déconnexion</strong>
</a>
