<!--Bloc Activités-->
<div class="card my-3">
  <div class="card-header">
    <div class="row mb-2 mt-2">
      <div class="col-6">
        <h2 class="mb-0">Blocs d'activité</h2>
      </div>
      <div class="col-6 d-flex align-items-end justify-content-end">
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#creerBlocActiviteModal"
        >
          Ajouter
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">

    <div class="card my-2">
      <div class="card-body">
        <span>
          <h3 style="display: inline;" class="mb-0">{{blocActivites[0].nom}}</h3>
        </span>
        <span class="mx-2"></span>
        <ng-container *ngFor="let typeActivite of getTypeActivites(blocActivites[0])">
          <span class="mx-1">{{typeActivite.nom}}</span>
        </ng-container>
        <hr class="mt-1"/>
        <div class="mb-3">
          <ng-container *ngFor="let activite of getActivites(blocActivites[0])">
            <span class="badge rounded-pill bg-light border mx-1 text-dark">{{activite.nom}}</span>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="collapse" id="collapseBlocActivite">

      <ng-container *ngFor="let bloc of blocActivites">
        <div *ngIf="bloc != blocActivites[0]" class="card my-2">
          <div class="card-body">
            <span>
              <h3 style="display: inline;" class="mb-0">{{bloc.nom}}</h3>
            </span>
            <span class="mx-2"></span>
            <ng-container *ngFor="let typeActivite of getTypeActivites(bloc)">
              <span class="mx-1">{{typeActivite.nom}}</span>
            </ng-container>
            <hr class="mt-1"/>
            <div class="mb-3">
              <ng-container *ngFor="let activite of getActivites(bloc)">
                <span class="badge rounded-pill bg-light border mx-1 text-dark">{{activite.nom}}</span>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>

    </div>

    <p class="text-center">
      <button
        class="btn btn-secondary mt-3"
        id="blocActiviteVoirPlus"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseBlocActivite"
        aria-expanded="false"
        aria-controls="collapseBlocActivite"
        data-text = "Voir les blocs d'activités"
      >
        Voir les blocs d'activités
      </button>
    </p>
  </div>
</div>
<!--Fin Bloc Activités-->