<!--Activité-->
<div class="card my-3">

  <div class="card-header">
    <div class="row mb-2 mt-2">
      <div class="col-6">
        <h2 class="mb-0">Activités</h2>
      </div>
      <div class="col-6 d-flex align-items-end justify-content-end">
        <app-modal-creer-activite [typeActivites]="typeActivites" [activites]="activites"></app-modal-creer-activite>
      </div>
    </div>
  </div>

  <div class="card-body">

    <div class="card my-2">
      <div class="card-body">
        <h3 class="mb-0">{{typeActivites[0].nom}}</h3>
        <hr class="mt-1"/>
        <div class="mb-3">
          <ng-container *ngFor="let activite of this.getActivitesByType(typeActivites[0].id)">
            <span class="badge rounded-pill bg-light border mx-1 text-dark">{{activite.nom}}</span>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="collapse" id="collapseActivite">

      <ng-container *ngFor="let typeActivite of typeActivites">
        <div *ngIf="typeActivite != typeActivites[0]" class="card my-2">
          <div class="card-body">
            <h3 class="mb-0">{{typeActivite.nom}}</h3>
            <hr class="mt-1"/>
            <div class="mb-3">
              <ng-container *ngFor="let activite of this.getActivitesByType(typeActivite.id)">
                <span class="badge rounded-pill bg-light border mx-1 text-dark">{{activite.nom}}</span>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>

    </div>

    <p class="text-center">
      <button
        class="btn btn-secondary mt-3"
        id="activiteVoirPlus"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseActivite"
        aria-expanded="false"
        aria-controls="collapseActivite"
        data-text = "Voir les activités"
      >
        Voir les activités 
      </button>
    </p>
  </div>

</div>
<!--Fin Activité-->

