<!--Activité-->
<div class="card my-3">

  <div class="card-header">
    <div class="row mb-2 mt-2">
      <div class="col-6">
        <h2 class="mb-0">Activités</h2>
      </div>
      <div class="col-6 d-flex align-items-end justify-content-end">
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#creerActiviteModal"
        >
          Ajouter
        </button>
      </div>
    </div>
  </div>

  <div class="card-body">

    <div class="card my-2">
      <div class="card-body">
        <h2>{{typeActivites[0].nom}}</h2>
        <hr/>
        <ng-container *ngFor="let activite of this.getActivitesByType(typeActivites[0].id)">
          <span class="badge rounded-pill bg-light border mx-1 text-dark">{{activite.nom}}</span>
        </ng-container>
      </div>
    </div>

    <div class="collapse" id="collapseActivite">
      <ng-container *ngFor="let typeActivite of typeActivites">
        <div *ngIf="typeActivite != typeActivites[0]" class="card my-2">
          <div class="card-body">
            <h2>{{typeActivite.nom}}</h2>
            <hr/>
            <ng-container *ngFor="let activite of this.getActivitesByType(typeActivite.id)">
              <span class="badge rounded-pill bg-light border mx-1 text-dark">{{activite.nom}}</span>
            </ng-container>
          </div>
        </div>
      </ng-container>

    </div>

    <p class="text-center">
      <button
        class="btn btn-secondary mt-3"
        id="activiteVoirPlus"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseActivite"
        aria-expanded="false"
        aria-controls="collapseActivite"
        data-text = "Voir les activités"
      >
        Voir les activités 
      </button>
    </p>
  </div>

</div>
<!--Fin Activité-->

