  <div class="card-header">
    <div class="row mb-2 mt-2">
      <div class="col-6">
        <h2 class="mb-0">{{ enfant.nom }}, {{ enfant.prenom }}</h2>
      </div>
      <div class="col-6 d-flex align-items-end justify-content-end">
        <app-modal-modifier-enfant [enfant]="enfant"></app-modal-modifier-enfant>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <img id="{{enfant.id}}" src="{{enfant.urlPhoto}}" height="160rem" />
      </div>
      <div class="col">
        <h6 class="mb-0 card-title">Nom</h6>
        <p class="card-text">{{enfant.nom}}</p>
        <h6 class="mb-0 card-title">Prenom</h6>
        <p class="card-text">{{enfant.prenom}}</p>
        <h6 class="mb-0 card-title">Notes</h6>
        <p class="card-text">{{enfant.note}}</p>
      </div>
      <div class="col">
        <h6 class="mb-0 card-title">Adresse</h6>
        <address class="card-text">{{adresse}}</address>
        <h6 class="mb-0 card-title">Date De Naissance</h6>
        <p class="card-text">{{enfant.dateNaissance.toString()}}</p>
      </div>
    </div>
  </div>
