
<button
type="button"
class="btn btn-secondary btn-sm"
data-bs-toggle="modal"
data-bs-target="#creerProgrammeModal"
>
Ajouter
</button>

  <!-- Modal Créer un programme -->
<div
  class="modal fade"
  id="creerProgrammeModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Créer un programme</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form>
          <label for="message-text" class="col-form-label">Gabarit de programme :</label>
          <div class="mb-2">

            <div *ngFor="let gabarit of gabaritProgrammes">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="gabaritProgramme"
                  [value]="gabarit.id"
                  [(ngModel)]="newProgramme.idGabaritProgramme"
                />
                <label class="form-check-label">
                  {{gabarit.titre}}
                </label>
              </div>
            </div>
                
            <div>
              <label for="message-text" class="col-form-label">Session :</label>
              <select class="form-control" name="session" [(ngModel)]="idSession">
                <option *ngFor="let session of sessions" [value]="session.id">{{session.nom}}</option>
              </select>
            </div>

            <div>
              <label for="message-text" class="col-form-label">Numéros de semaine :</label>
              <div>
                <div class="form-check form-check-inline px-0">
                  <input
                    type="checkbox"
                    class="btn-check"
                    id="btn-check-1"
                    name="semaine1"
                    value="1"
                    autocomplete="off"
                    (click)="ajouterProgramme(1)"
                  />
                  <label class="btn btn-outline-secondary" for="btn-check-1"
                    >01</label
                  >
                  <input
                    type="checkbox"
                    class="btn-check"
                    id="btn-check-2"
                    name="semaine2"
                    value="2"
                    autocomplete="off"
                    (click)="ajouterProgramme(2)"
                  />
                  <label class="btn btn-outline-secondary" for="btn-check-2"
                    >02</label
                  >
                  <input
                    type="checkbox"
                    class="btn-check"
                    id="btn-check-3"
                    name="semaine3"
                    value="3"
                    autocomplete="off"
                    (click)="ajouterProgramme(3)"
                  />
                  <label class="btn btn-outline-secondary" for="btn-check-3"
                    >03</label
                  >
                  <input
                    type="checkbox"
                    class="btn-check"
                    id="btn-check-4"
                    name="semaine4"
                    value="4"
                    autocomplete="off"
                    (click)="ajouterProgramme(4)"
                  />
                  <label class="btn btn-outline-secondary" for="btn-check-4"
                    >04</label
                  >
                  <input
                    type="checkbox"
                    class="btn-check"
                    id="btn-check-5"
                    name="semaine5"
                    value="5"
                    autocomplete="off"
                    (click)="ajouterProgramme(5)"
                  />
                  <label class="btn btn-outline-secondary" for="btn-check-5"
                    >05</label
                  >
                </div>
                <br />
                <div class="form-check form-check-inline px-0 mt-1">
                  <input
                    type="checkbox"
                    class="btn-check"
                    id="btn-check-6"
                    name="semaine6"
                    value="6"
                    autocomplete="off"
                    (click)="ajouterProgramme(6)"
                  />
                  <label class="btn btn-outline-secondary" for="btn-check-6"
                    >06</label
                  >
                  <input
                    type="checkbox"
                    class="btn-check"
                    id="btn-check-7"
                    name="semaine7"
                    value="7"
                    autocomplete="off"
                    (click)="ajouterProgramme(7)"
                  />
                  <label class="btn btn-outline-secondary" for="btn-check-7"
                    >07</label
                  >
                  <input
                    type="checkbox"
                    class="btn-check"
                    id="btn-check-8"
                    name="semaine8"
                    value="8"
                    autocomplete="off"
                    (click)="ajouterProgramme(8)"
                  />
                  <label class="btn btn-outline-secondary" for="btn-check-8"
                    >08</label
                  >
                  <input
                    type="checkbox"
                    class="btn-check"
                    id="btn-check-9"
                    name="semaine9"
                    value="9"
                    autocomplete="off"
                    (click)="ajouterProgramme(9)"
                  />
                  <label class="btn btn-outline-secondary" for="btn-check-9"
                    >09</label
                  >
                  <input
                    type="checkbox"
                    class="btn-check"
                    id="btn-check-10"
                    name="semaine10"
                    value="10"
                    autocomplete="off"
                    (click)="ajouterProgramme(10)"
                  />
                  <label class="btn btn-outline-secondary" for="btn-check-10"
                    >10</label
                  >
                </div>
                <br />
                <div class="form-check form-check-inline px-0 mt-1">
                  <input
                    type="checkbox"
                    class="btn-check"
                    id="btn-check-11"
                    name="semaine11"
                    value="11"
                    autocomplete="off"
                    (click)="ajouterProgramme(11)"
                  />
                  <label class="btn btn-outline-secondary" for="btn-check-11"
                    >11</label
                  >
                  <input
                    type="checkbox"
                    class="btn-check"
                    id="btn-check-12"
                    name="semaine12"
                    value="12"
                    autocomplete="off"
                    (click)="ajouterProgramme(12)"
                  />
                  <label class="btn btn-outline-secondary" for="btn-check-12"
                    >12</label
                  >
                  <input
                    type="checkbox"
                    class="btn-check"
                    id="btn-check-13"
                    name="semaine13"
                    value="13"
                    autocomplete="off"
                    (click)="ajouterProgramme(13)"
                  />
                  <label class="btn btn-outline-secondary" for="btn-check-13"
                    >13</label
                  >
                  <input
                    type="checkbox"
                    class="btn-check"
                    id="btn-check-14"
                    name="semaine14"
                    value="14"
                    autocomplete="off"
                    (click)="ajouterProgramme(14)"
                  />
                  <label class="btn btn-outline-secondary" for="btn-check-14"
                    >14</label
                  >
                  <input
                    type="checkbox"
                    class="btn-check"
                    id="btn-check-15"
                    name="semaine15"
                    value="15"
                    autocomplete="off"
                    (click)="ajouterProgramme(15)"
                  />
                  <label class="btn btn-outline-secondary" for="btn-check-15"
                    >15</label
                  >
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="message-text" class="col-form-label">Animateurs :</label>
              <textarea ngModel class="form-control" id="message-text" name="animateurs" [(ngModel)]="newProgramme.animateur"></textarea>
            </div>

            <!-- <div>
              <hr />
              <h5>Activités</h5>

              <div id="select-activite-programme">
                <input type="hidden" name="nbActivitesProgramme" id="nbActivitesProgramme">
              </div>

              <div class="col-md-12 text-center margin-auto mt-3">
                <button class="btn btn-secondary" id="rmActiviteProg" hidden="true">
                  Retirer une activite -
                </button>
                <button class="btn btn-secondary" id="addActiviteProgramme">
                  Ajouter une activité +
                </button>
              </div>
            </div> -->

            <div class="col-5 mt-3">
              <label for="prix" class="col-form-label">Prix :</label>
              <div class="input-group">
                <span class="input-group-text">$</span>
                <input type="text" class="form-control" aria-label="Prix" name="prix" id="prix" [(ngModel)]="newProgramme.prix">
                <span class="input-group-text">.00</span>
              </div>
            </div>

          </div>
        </form>
      </div> 

      <div class="modal-footer">
        <button type="button" class="btn btn-light border" data-bs-dismiss="modal">
          Fermer
        </button>
        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal" (click)="enregistrerProgramme()">Créer</button>
      </div>

    </div>
  </div>
</div>
    <!--FIN Modal Créer un programme -->
