<button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#modifierProfil">
  <i class="fas fa-pen"></i> Modifier le profil
</button>

<!-- Modal Modifier Profil -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="modifierProfil" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="modal-header">
          <h5 class="modal-title">Modifier Profil</h5>
        </div>

        <div class="modal-body">

            <div class="row pt-2">
              <div class="col text-center">
                <input accept="image/*"
                       id="uploadHomer"
                       name="image" (change)="onLoadFile($event)"
                       style="display: none"
                       type="file"
                       ngModel/>
                <label class="form-label" for="uploadHomer" style="cursor: pointer">
                  <img class="rounded" id="uploadHomerImg" src="{{parent.urlPhoto}}" width="150"/>
                  <p>Photo de profil</p>
                  <span class="erreur">
                  </span>
                </label>
              </div>
            </div>

            <div class="row px-2">
              <div class="col">
                <label class="form-label" for="prenom">Prénom</label>
                <input class="form-control" id="prenom" name="prenom" type="text" [(ngModel)]="parent.prenom" required/>
                <span class="erreur"></span>
              </div>
              <div class="col">
                <label class="form-label" for="nom">Nom</label>
                <input class="form-control" id="nom" name="nom" type="text" [(ngModel)]="parent.nom" required/>
                <span class="erreur"></span>
              </div>
            </div>

            <div class="row p-2">
              <div class="col">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" id="email" name="email" type="email" [(ngModel)]="parent.courriel" required/>
                <span class="erreur"></span>
              </div>
              <div class="col">
                <label class="form-label" for="ddn">Date de naissance</label>
                <input class="form-control" id="ddn" name="dateNaissance" type="date" [(ngModel)]="parent.dateNaissance" required/>
                <span class="erreur"></span>
              </div>
            </div>

            <div class="form-group p-2">
              <label class="form-label" for="adresse">Adresse complète</label>
              <textarea class="form-control" id="adresse" name="adresse" [(ngModel)]="parent.adresse" required></textarea>
              <span class="erreur"></span>
            </div>

            <hr/>
            <h5 class="card-title">Informations du compte</h5>

            <div class="row p-2">
              <div class="col">
                <label class="form-label" for="username">Nom d'utilisateur</label>
                <input class="form-control disabled" disabled id="username" type="text" value="{{parent.username}}"/>
              </div>
              <div class="col">
                <label class="form-label" for="password">Changer mot de passe</label>
                <input class="form-control" id="password"name="password" placeholder="" type="password" ngModel/>
                <span class="erreur"></span>
              </div>
            </div>
        </div>

        <div class="modal-footer">
          <input class="btn btn-dark" type="submit" value="Modifier" data-bs-dismiss="modal" [disabled]="f.invalid">
        </div>
      </form>
    </div>
  </div>
</div>
<!-- FIN Modal Modifier Profil -->
