<h1>Inscription des parents</h1>
<nav
  style="--bs-breadcrumb-divider: url(&#34;data:image/svg + xml,%3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='currentColor'/%3E%3C/svg%3E&#34;);"
  aria-label="breadcrumb"
  class="mb-4"
>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="">Accueil</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      Inscription des parents
    </li>
  </ol>
</nav>


<div class="card w-50 mx-auto mb-5">
  <div class="card-body">
    <h5 class="card-title">Informations personnelles</h5>
    <form [formGroup]="formInscription" (ngSubmit)="inscription()">
      <div class="row pt-2">
        <div class="col text-center">
          <input
            type="file"
            accept="image/*"
            name="photoProfil"
            id="uploadProfil"
            (change)="onLoadFile($event)"
            style="display: none"
            formControlName="urlPhoto"
          />
          <label
            for="uploadProfil"
            style="cursor: pointer"
            class="form-label"
          >
            <img
              id="uploadProfilImg"
              width="150"
              src="./assets/img/profil.png"
              class="rounded"
            />
            <p>Photo de profil<br>
          </label>
        </div>
      </div>
      <div class="row px-2">
        <div class="col">
          <label for="prenom" class="form-label">Prénom</label>
          <span class="erreur"> *</span>
          <input type="text" id="prenom" name="prenom" class="form-control" formControlName="prenom"/>
        </div>
        <div class="col">
          <label for="nom" class="form-label">Nom</label>
          <span class="erreur"> *</span>
          <input type="text" id="nom" name="nom" class="form-control" formControlName="nom"/>
        </div>
      </div>
      <div class="row p-2">
        <div class="col">
          <label for="courriel" class="form-label">Courriel</label>
          <span class="erreur"> *</span>
          <input type="courriel" id="courriel" class="form-control" name="courriel" id="inputEmail3" formControlName="courriel"/>
          <ul class="errValid" *ngIf="courriel.dirty && (courriel.invalid && !courriel.errors?.required)">
            <li *ngIf="courriel.errors?.email" class="erreur">
              Entrez un courriel valide.
            </li>
          </ul>
        </div>
        <div class="col">
          <label for="dateNaissance" class="form-label">Date de naissance</label>
          <span class="erreur"> *</span>
          <input type="date" id="dateNaissance" name="dateNaissance" class="form-control"
                 formControlName="dateNaissance"/>
          <ul class="errValid" *ngIf="dateNaissance.dirty && (dateNaissance.invalid && !dateNaissance.errors?.required)">
            <li *ngIf="dateNaissance.errors?.estDateFuture" class="erreur">
              La date de naissance doit être dans le passé.
            </li>
          </ul>
        </div>
      </div>
      <div class="form-group p-2">
        <label for="adresse" class="form-label">Adresse complète</label>
        <textarea class="form-control" name="adresse" id="adresse" formControlName="adresse"></textarea>
      </div>
      <hr/>
      <h5 class="card-title">Informations du compte</h5>
      <div class="row p-2">
        <div class="col">
          <label for="usernameInscription" class="form-label">Nom d'utilisateur</label>
          <span class="erreur"> *</span>
          <input type="text" id="usernameInscription" name="username" class="form-control" formControlName="username"/>
          <ul class="errValid" *ngIf="username.dirty && (username.invalid && !username.errors?.required)">
            <li *ngIf="username.hasError('pattern')" class="erreur">
              Le nom d'utilisateur doit contenir seulement des caracteres alphanumeriques non-accentués
            </li>
          </ul>
        </div>
        <div class="col">
          <label for="passwordInscription" class="form-label">Mot de passe</label>
          <span class="erreur"> *</span>
          <input type="password" id="passwordInscription" name="password" minlength="6" class="form-control"
                 formControlName="password"/>
          <ul class="errValid" *ngIf="password.dirty && password.invalid" class="erreur">
            <li *ngIf="password.hasError('minlength')">
              Le mot de passe doit avoir au moins 6 caracteres
            </li>
            <li *ngIf="password.hasError('pattern')">
              Le mot de passe doit contenir au moins un caractere spécial
            </li>
          </ul>
        </div>
      </div>
      <div class="row m-3">
        <div class="col text-center">
          <button [disabled]="formInscription.invalid" type="submit" class="btn btn-dark">Inscription</button>
          <button type="reset" class="btn btn-secondary mx-2">Recommencer</button>
        </div>
      </div>
    </form>
  </div>
</div>
