<!-- <button class="btn btn-danger mb-4" (click)="exportJson()">clic_json</button> -->

<div *ngIf="undefined != parent.enfants" class="card mb-4">
  <div class="card-header">
    <div class="row mb-2 mt-2">
      <div class="col-8">
        <h2 class="mb-0">
          <i class="far fa-calendar-alt"></i> Horaire des enfants à charge
        </h2>
      </div>
      <div class="col-2 d-flex align-items-center justify-content-end">Sélection : </div>
      <div class="col-2 d-flex align-items-end justify-content-end">
        <form method="POST" onchange="">

          <select name="numSession" class="form-control" [(ngModel)]="idSessionActuelle">
            <ng-container *ngFor="let session of sessions">
              <option [value]="session.id">{{session.nom}}</option>
            </ng-container>
          </select>
          
        </form>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover table-sm" id="table_enfants_a_charge">
      <thead class="thead-dark">
        <tr>
          <th>Semaine</th>
          <th>Enfant</th>
          <th>Programme</th>
          <th>Statut</th>
        </tr>
      </thead>

      <tbody>
        
        <ng-container *ngFor="let semaine of getSessionActuelle().semaines">
          <tr *ngFor="let enfant of parent.enfants" [ngClass]="classeEnCours(semaine.noSemaine)">
            <td *ngIf="enfant == parent.enfants[0]" [attr.rowspan]="parent.enfants.length">{{semaine.noSemaine}}</td>
            <td>{{enfant.nom}}, {{enfant.prenom}}</td>
            <td>

              <select *ngIf="!estEnCours(semaine.noSemaine) && !estPaye(semaine.id, enfant.id)" disabled name="" class="form-control" id="">
                <option selected value=""></option>
              </select>

              <select *ngIf="estPaye(semaine.id, enfant.id)" disabled name="" class="form-control" id="">
                <option selected value="">{{getNomGabaritProgrammeInscrit(semaine.id, enfant.id)}} ({{getPrixProgrammeInscrit(semaine.id, enfant.id)}}.00$)</option>
              </select>

              <select *ngIf="estEnCours(semaine.noSemaine) && !estPaye(semaine.id, enfant.id) && estInscrit(semaine.id, enfant.id)" name="" class="form-control" id="" (change)="inscrire(semaine, enfant, $event)">
                <option selected [value]="">{{getNomGabaritProgrammeInscrit(semaine.id, enfant.id)}} ({{getPrixProgrammeInscrit(semaine.id, enfant.id)}}.00$)</option>
                <ng-container *ngFor="let programme of getProgrammes(semaine)">
                  <ng-container *ngIf="getGabaritProgrammeById(programme.idGabaritProgramme) != getGabaritProgrammeInscrit(semaine.id, enfant.id)">
                    <option [value]="programme.id">
                      {{getNomGabaritProgrammeById(programme.idGabaritProgramme)}} ({{programme.prix}}.00$)
                    </option>
                  </ng-container>
                </ng-container>
                <option value="">Aucun</option>
              </select>

              <select *ngIf="estEnCours(semaine.noSemaine) && !estPaye(semaine.id, enfant.id) && !estInscrit(semaine.id, enfant.id)" name="" class="form-control" id="" (change)="inscrire(semaine, enfant, $event)">
                <option  selected value="">Aucun</option>
                <option *ngFor="let programme of getProgrammes(semaine)" [value]="programme.id">
                  {{getNomGabaritProgrammeById(programme.idGabaritProgramme)}} ({{programme.prix}}.00$)
                </option>
              </select>

            </td>
            <td>
              <button *ngIf="!estEnCours(semaine.noSemaine) && !estPaye(semaine.id, enfant.id)" disabled class="btn btn-light border"> 
                <i class="fas fa-times-circle"></i>
              </button>
              <button *ngIf="estPaye(semaine.id, enfant.id)" disabled class="btn btn-success"> 
                <i class="fas fa-check-circle"></i>
              </button>
              <button *ngIf="estEnCours(semaine.noSemaine) && !estPaye(semaine.id, enfant.id) && estInscrit(semaine.id, enfant.id)" disabled class="btn btn-warning"> 
                <i class="fas fa-cart-arrow-down"></i> 
              </button>
              <button *ngIf="estEnCours(semaine.noSemaine) && !estPaye(semaine.id, enfant.id) && !estInscrit(semaine.id, enfant.id)" disabled class="btn btn-light border">
                <i class="fas fa-cart-plus"></i>
              </button>
            </td>
          </tr>
        </ng-container>

      </tbody>
    </table>
  </div>
</div>

<div>
  <div id="cartboi" class="mt-3 mb-4 card">
    <div class="card-header">
      <div class="row mb-2 mt-2">
        <div class="col-6">
          <h2 class="mb-0">
            <i class="fas fa-shopping-cart"></i> Panier - {{getSessionActuelle().nom}} 
          </h2>
        </div>
        <div class="col-6 d-flex align-items-end justify-content-end">
          <p> <span id="dateFacture"></span> </p>
        </div>
      </div>
    </div>

    <div class="card-body">
      <table class="table table-hover table-sm" id="table_enfants_a_charge">
        <thead class="thead-dark">
          <tr>
            <th>Semaine</th>
            <th>Programme</th>
            <th>Enfant</th>
            <th>Prix</th>
          </tr>
        </thead>

        <ng-container *ngFor="let inscriptionEnfant of getInscriptionsEnfants()">
          <tr *ngIf="estAuPanier(inscriptionEnfant)">
            <td>{{getNoSemaine(inscriptionEnfant)}}</td>
            <td>{{getNomGabaritProgrammeInscrit(inscriptionEnfant.idSemaine, inscriptionEnfant.idEnfant)}}</td>
            <td>{{getNomEnfant(inscriptionEnfant.idEnfant)}}, {{getPrenomEnfant(inscriptionEnfant.idEnfant)}}</td>
            <td>{{getPrixProgrammeInscrit(inscriptionEnfant.idSemaine, inscriptionEnfant.idEnfant)}}.00 $</td>
          </tr>
        </ng-container>


        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td class="fw-bold">Total :</td>
            <td class="fw-bold grey">{{getPrixTotalInscrit()}}.00$</td>
          </tr>
        </tbody>

      </table>

      <div class="row">
        <div class="col-9"></div>
        <div class="col-3 d-flex align-items-end justify-content-end">
          <form method="POST" action="">
            <button class="btn btn-sm btn-success" type="submit" (click)="payer()">Payer {{prixTotal}}.00$</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
